ul {
    background-color: grey;
    color: white;
}

ol {
    background-color: orange;
}

h1 {
    text-align: center;
    color: blue;
}

h2 {
    margin-left: 10px;
    color: green;
}

img {
    height: 500px;
    width: auto;
}